@import '../App.css';

body .container {
    max-width: 1600px;
    position: relative;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)*.5) !important;
    padding-right: calc(var(--bs-gutter-x)*.5) !important;
    width: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--secondary-color);

}

@media (min-width: 1400px) and (max-width: 1599px) {
    body .container {
        max-width: 1240px;
    }
}

@media (max-width: 1400px) {
    body .container {
        max-width: 1320px;
    }
}

@media (max-width: 1200px) {
    body .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    body .container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    body .container {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    body .container {
        max-width: 540px;
    }
}